<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{ISO8601} %highlight{%-5level} %20.30c{1.}: %highlight{%msg%n%throwable}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="nl.detestbaas" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>